.images{
  background-image: url("../../assets/Login/image1.jpg");
  background-size: cover;
  background-position: center;
  height: 97.5vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image2{
    width: 20vw;
    margin-left: -50vw;
    margin-top: -12vw;
}
.image3{
    margin-left: -55vw;
    width: 35vw;
    margin-top: 30vw;
    position: absolute;
}
.container{
    position: relative;
}
.container h3{
    position: absolute;
    margin-top: 29vw;
    font-size: 3vw;
    color: #001f5b;
    font-weight: 400;
    margin-left: -60vw;
}
.container h2{
    position: absolute;
    margin-left: -30vw;
    margin-top: 28.9vw;
    font-size: 3vw;
    color: #cc0000;
    font-weight: 400;
}
.container p{
    position: absolute;
}